* {
    margin: 0px;
    padding: 0px;

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header header header header"
            "leftCharts leftCharts  rightCharts rightCharts"
            "selection selection PieChart PieChart"
            "lineChart lineChart wordcloud wordcloud"
            "footer footer footer footer";
        grid-template-rows: 80px auto 80px;
        grid-template-columns:auto 200px;

        .header{
            grid-area: header;
        }
        
        .leftCharts{
            .overview{
                grid-area: overview;
            }
            .selection{
                grid-area: selection;
                margin-left: 50px;
                margin-top: 50px;
            }
            
            .lineChart{
                grid-area: lineCharts;
                height:400px;
                width:400px;
            }
        }
            
        .rightCharts{
            align-items:stretch;
            margin-left: 50px;
        
            .PieChart{
                grid-area: PieChart;
                width: 300px;
                height: 300px
            }
            .Wordcloud{
                grid-area: Wordcloud;
                margin-left: 50px;
                width: 300px;
                height: 300px;
            }
        }

        .footer{
            grid-area: footer;
        }
    }
}