* {
    margin: 0px;
    padding: 0px;

    .container{
        display: grid;
        grid-template-areas: "header header" "leftCharts rightChars" "footer footer";
        grid-template-rows: auto 200px;
        grid-template-columns: 200px auto 200px;

        .header{
            grid-area: header;
        }
        
        .leftCharts{
            grid-area: leftCharts;
            .selection{
                margin-left: 50px;
                margin-top: 50px;
            }
            
            .lineChart{
                height:400px;
                width:400px;
            }
        }
            
        .rightCharts{
            grid-area: rightCharts;
            align-items:stretch;
            margin-left: 50px;
        
            .PieChart{
                width: 300px;
                height: 300px
            }
            .Wordcloud{
                margin-left: 50px;
                width: 300px;
                height: 300px;
            }
        }

        .footer{
            grid-area: footer;
        }
    }
}